body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: #f0f0f0;
}

.board {
    display: grid;
    grid-gap: 10px;
    background-color: #0055a5;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.player1 {
    background-color: #ff0000;
}

.player2 {
    background-color: #ffff00;
}